body{
    background-color: rgba(231, 225, 245, 1);
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
}

h1{
    width: fit-content;
    margin: auto;
}

body img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 50%;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgba(111, 98, 150, 0.1);
    padding: 5px;
    border-radius: 20px;
}

body a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    background-color: rgba(119, 90, 207, 0.2);
    padding: 10px;
    position: relative;
    left: 30px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

}