body{
    padding-top: 10%;
    background-color: rgba(231, 225, 245, 1);
    font-family: 'Courier New', Courier, monospace;
}

#title{
    margin: auto;
    width: 50%;
    text-align: center;
    color: rgb(98, 94, 94);
}

#link{
    display: block;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
    padding: 2px 5px 2px 5px;
    background-color: rgba(111, 98, 150, 0.1);
    border-radius: 10px;
}
